<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
              <div class="dropdown profile-element">
                <img alt="image" class="rounded-circle" src="./assets/AdminTema5/img/admin_profile.png"/>
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="block m-t-xs font-bold" [innerText]="userName"></span>
                      <span class="text-muted text-xs block">{{ userRole[0]?.role }}</span>
                  </a>
                  <ul class="dropdown-menu animated fadeInRight m-t-xs">
                      <li><a class="dropdown-item" href="./assets/AdminTema5/profile.html">Profil</a></li>
                      <li><a class="dropdown-item" href="./assets/AdminTema5/contacts.html">İletişim</a></li>
                      <li><a class="dropdown-item" href="./assets/AdminTema5/mailbox.html">Mail</a></li>
                      <li class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="./assets/AdminTema5/login.html">Çıkış Yap</a></li>
                  </ul>
              </div>

          </li>
          <!-- Anasayfa -->
          <li routerLink="/admin">
            <a class="router-Link-Font-Color"><i class="fa fa-home"></i> <span class="nav-label">Anasayfa</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a routerLink="/admin">Anasayfa</a></li>
            </ul>
        </li>
        <!-- ***************** -->
          <!-- Ürünler -->
          <li>
              <a class="router-Link-Font-Color"><i class="fa fa-apple"></i> <span class="nav-label">Ürünler</span> <span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                  <li><a routerLink="/products">Ürünler Tablosu</a></li>
                  <li><a href="./assets/AdminTema5/dashboard_3.html">Dashboard v.3</a></li>
                  <li><a href="./assets/AdminTema5/dashboard_4_1.html">Dashboard v.4</a></li>
                  <li><a href="./assets/AdminTema5/dashboard_5.html">Dashboard v.5 </a></li>
              </ul>
          </li>
          <!-- ***************** -->
          <!-- Fiyat Listesi -->
          <li>
            <a class="router-Link-Font-Color"><i class="fa fa-try"></i> <span class="nav-label">Fiyat Listesi</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a routerLink="/price-list">Fiyat Tablosu</a></li>
                <li><a href="./assets/AdminTema5/dashboard_2.html">Dashboard v.2</a></li>
                <li><a href="./assets/AdminTema5/dashboard_3.html">Dashboard v.3</a></li>
                <li><a href="./assets/AdminTema5/dashboard_4_1.html">Dashboard v.4</a></li>
                <li><a href="./assets/AdminTema5/dashboard_5.html">Dashboard v.5 </a></li>
            </ul>
        </li>
        <!-- ***************** -->
        <!-- Müşteriler -->
        <li>
          <a href="./admin/customers"><i class="fa fa-users"></i> <span class="nav-label">Müşteriler</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
              <li><a href="./assets/AdminTema5/index.html">Dashboard v.1</a></li>
              <li><a href="./assets/AdminTema5/dashboard_2.html">Dashboard v.2</a></li>
              <li><a href="./assets/AdminTema5/dashboard_3.html">Dashboard v.3</a></li>
              <li><a href="./assets/AdminTema5/dashboard_4_1.html">Dashboard v.4</a></li>
              <li><a href="./assets/AdminTema5/dashboard_5.html">Dashboard v.5 </a></li>
          </ul>
      </li>
      <!-- ***************** -->
      <!-- Siparişler -->
      <li>
        <a href="./admin/orders"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Siparişler</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a href="./assets/AdminTema5/index.html">Dashboard v.1</a></li>
            <li><a href="./assets/AdminTema5/dashboard_2.html">Dashboard v.2</a></li>
            <li><a href="./assets/AdminTema5/dashboard_3.html">Dashboard v.3</a></li>
            <li><a href="./assets/AdminTema5/dashboard_4_1.html">Dashboard v.4</a></li>
            <li><a href="./assets/AdminTema5/dashboard_5.html">Dashboard v.5 </a></li>
        </ul>
    </li>
    <!-- ***************** -->
      </ul>
  </div>
</nav>
